* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.nav-links a {
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #006b3c;
  transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

.nav-links a:hover {
  color: #006b3c;
}


.nav-links a.active {
  color: #006b3c;
}

/* ================= DESKTOP ================= */
.nav {
  display: flex;
}

/* ================= HAMBURGER ================= */

/* Hide on desktop */
.hamburger {
  display: none;
}

/* Mobile only */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    width: 24px;              /* icon size */
    height: 24px;
    padding: 10px;            /* touch area */
    box-sizing: content-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 1002;
  }
}

/* Bars */
.hamburger .bar {
  width: 22px;
  height: 3px;
  background-color: #006b3c;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.hamburger .bar1,
.hamburger .bar2,
.hamburger .bar3 {
  position: absolute;
}

/* ================= CLOSE (X) ================= */
.hamburger .bar1 {
  transform: translateY(-6px);
}

.hamburger .bar2 {
  transform: translateY(0);
}

.hamburger .bar3 {
  transform: translateY(6px);
}

.hamburger:active {
  transform: scale(0.95);
}


.hamburger.active .bar1 {
  transform: rotate(45deg);
}

.hamburger.active .bar2 {
  opacity: 0;
}

.hamburger.active .bar3 {
  transform: rotate(-45deg);
}


/* ================= MOBILE ================= */
@media (max-width: 768px) {

   .nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    transform: translateY(-120%);
    transition: transform 0.35s ease;
    z-index: 1000;
  }

  .nav.active {
    transform: translateY(0);
  }

  .nav-links {
    flex-direction: column;
    padding: 1.5rem 0;
    gap: 1.2rem;
    text-align: center;
  }
}
