* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.nav-links a {
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #006b3c;
  transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

.nav-links a:hover {
  color: #006b3c;
}


.nav-links a.active {
  color: #006b3c;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #222;
}

/* HAMBURGER ANIMATION */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.hamburger span {
  transition: all 0.3s ease;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    display: none;
  }

  .nav.active {
    display: block;
     width: 100%; /* Full width mobile menu */
     left: 0;
  }

  .nav-links {
    flex-direction: column;
    padding: 1rem 0;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }
}
